<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">    
    <head>
        <div th:replace="~{fragment :: meta}"></div>   
             
        <div th:replace="~{fragment :: styles}"></div>
          
		<!-- Flatpickr -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
		
        <title>民宿詳細</title>   
    </head>
    <body>
        <div class="nagoyameshi-wrapper">
            <!-- ヘッダー -->
            <div th:replace="~{fragment :: header}"></div>
            
            <main>
                <div class="container pt-4 pb-5 nagoyameshi-container">
                    <div class="row justify-content-center">
                        <div class="col-xxl-9 col-xl-10 col-lg-11">
                            <nav class="mb-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                                <ol class="breadcrumb mb-0">                        
                                    <li class="breadcrumb-item"><a th:href="@{/restaurants}">ホーム</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">店舗詳細</li>
                                </ol>
                            </nav> 
							
							<div th:if="${#authorization.expression('hasRole(''ROLE_PREMIUM'')')}" class="text-right">
								<div th:if="${likeDelete}">
									<a th:href="@{/likes/delete/__${restaurant.getId()}__/__${user.getId()}__}">&#9829; お気に入り解除</a>
								</div>
								<div th:if="${likeRegister}">
									<a th:href="@{/likes/create/__${restaurant.getId()}__}">&#9825; お気に入り追加</a>
								</div>
							</div>
                            
                            <h1 class="mb-4 text-center" th:text="${restaurant.getName()}"></h1>                                                           
                            
                            <div th:if="${errorMessage}" class="alert alert-danger">
                                <span th:text="${errorMessage}"></span>
                            </div>                                                                         
                            
                            <div class="mb-4">
                                <img th:if="${restaurant.getImageName()}" th:src="@{/storage/__${restaurant.getImageName()}__}" class="w-100" alt="店舗画像">
                                <img th:unless="${restaurant.getImageName()}" th:src="@{/images/noImage.png}" class="w-100" alt="NO IMAGE">
                            </div> 
                            
                            <div class="container">  
                                <div class="row">
                                    <div class="col-lg-8 container mb-4">            
                                        <div class="row pb-2 mb-2 border-bottom">
                                            <div class="col-4">
                                                <span class="fw-bold">店舗名</span>
                                            </div>
                    
                                            <div class="col">
                                                <span th:text="${restaurant.getName()}"></span>
                                            </div>
                                        </div>                    
                    
                                        <div class="row pb-2 mb-2 border-bottom">
                                            <div class="col-4">
                                                <span class="fw-bold">説明</span>
                                            </div>
                    
                                            <div class="col">
                                                <span class="nagoyameshi-pre-wrap" th:text="${restaurant.getDescription()}"></span>
                                            </div>
                                        </div>
                    
                                        <div class="row pb-2 mb-2 border-bottom">
                                            <div class="col-4">
                                                <span class="fw-bold">平均価格</span>
                                            </div>
                    
                                            <div class="col">
                                                <span th:text="${#numbers.formatInteger(restaurant.getPrice(), 1, 'COMMA') + '円'}"></span>
                                            </div>
                                        </div> 
                                        
                                       <div class="row pb-2 mb-2 border-bottom">
                                            <div class="col-4">
                                                <span class="fw-bold">座席</span>
                                            </div>
                    
                                            <div class="col">
                                                <span th:text="${restaurant.getCapacity() + '席'}"></span>
                                            </div>
                                        </div>                                
                                        
                                        <div class="row pb-2 mb-2 border-bottom">
                                            <div class="col-4">
                                                <span class="fw-bold">郵便番号</span>
                                            </div>
                    
                                            <div class="col">
                                                <span th:text="${restaurant.getPostNumber()}"></span>
                                            </div>
                                        </div>   
                                        
                                        <div class="row pb-2 mb-2 border-bottom">
                                            <div class="col-4">
                                                <span class="fw-bold">住所</span>
                                            </div>
                    
                                            <div class="col">
                                                <span th:text="${restaurant.getAddress()}"></span>
                                            </div>
                                        </div>   
                                        
                                        <div class="row pb-2 mb-2 border-bottom">
                                            <div class="col-4">
                                                <span class="fw-bold">電話番号</span>
                                            </div>
                    
                                            <div class="col">
                                                <span th:text="${restaurant.getPhoneNumber()}"></span>
                                            </div>
                                        </div>   
										                             
                                        <div class="row pb-2 mb-2 border-bottom">
                                            <div class="col-4">
                                                <span class="fw-bold">営業時間</span>
                                            </div>
                    
                                            <div class="col">
                                                <span th:text="${restaurant.getOpenTime() + '～' + restaurant.getCloseTime()}"></span>
                                            </div>
                                        </div>                                
                                                                     
                                    </div>
									
									<div th:if="${#authorization.expression('hasRole(''ROLE_PREMIUM'')')}" class="col-lg-4 px-0 ps-lg-4 mb-4">
										<div class="card">
											<div class="card-body">
												<form method="get" th:action="@{/reservations/__${restaurant.getId()}__}">
													<div class="form-group">
														<button type="submit" class="btn text-white shadow-sm w-100 nagoyameshi-btn">予約フォーム</button>
													</div>
												</form>
											</div>
										</div>
									</div>
									
									<div class="container">
										<div class="row">
											<div class="col">
												<h1 class="mb-4 text-center">レビュー</h1>
												<div sec:authorize="isAuthenticated()" class="col-lg-4 px-0 ps-lg-4 mb-4">
													<div th:if="${done}">
													<div th:if="${#authorization.expression('hasRole(''ROLE_PREMIUM'')')}" class="card">
														<form method="get" th:action="@{/reviews/__${restaurant.getId()}__/register}">
															<div class="form-group">
																<button type="submit" class="btn text-white shadow-sm w-100 nagoyameshi-btn">レビューを投稿する</button>
															</div>
														</form>
													</div>
													</div>
												</div>
												
												<div class="row row-cols-lg-2 row-cols-2 g-3 mb-5">
													<div class="row mb-5" th:each="review, iterStat : ${review}">
														<div class="col">
															<div class="card h-100">
																<div class="card-body">
																	<h3 class="card-title" th:text="${review.getUser().getName()}"></h3>
																	<div sec:authorize="isAuthenticated()">
																		<div th:if="${review.user.id == user.id}">
																			<a th:href="@{/reviews/__${review.getRestaurant().getId()}__/edit}" class="card-subtitle nagoyameshi-page-link ml-auto">編集</a>
																			<a href="#" data-bs-toggle="modal" th:data-bs-target="${'#deleteReviewModal' + review.getId()}" class="card-subtitle nagoyameshi-link-danger ml-auto">削除</a>
																		
																			<!-- 削除用モーダル --> 
																			<div class="modal fade" th:id="${'deleteReviewModal' + review.getId()}" tabindex="-1" th:aria-labelledby="${'deleteReviewModalLabel' + review.getId()}">
																				<div class="modal-dialog">
																					<div class="modal-content">
																						<div class="modal-header">
																							<h5 class="modal-title"th:id="${'deleteReviewModalLabel' + review.getId()}" th:text="${review.getRestaurant().getName() + 'のレビューを削除してもよろしいですか？'}"></h5>
																							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="閉じる"></button>
																						</div>
																						<div class="modal-footer">
																							<form method="post"th:action="@{/reviews/__${review.getId()}__/delete}">
																								<button type="submit" class="btn nagoyameshi-btn-danger text-white shadow-sm">削除</button>
																							</form>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																	<h1 class="card-text mb-1" th:id="'star-' + ${iterStat.index}"></h1>
																		
																	<p class="card-text" th:text="${review.getReviewComment()}"></p>
																</div>
															</div>
														</div>
														<script th:inline="javascript">
															/*<![CDATA[*/
															(function() {
																const score = /*[[${review.getReviewScore()}]]*/0;
																var reviewStar = '';
																
																if (score < 5) {
																	for (var i = 0; i < score; i++) {
																		reviewStar += '★';
																	}
																	for (var i = 0; i < (5 - score); i++) {
																		reviewStar += '☆';
																	}
																} else {
																	reviewStar = '★★★★★';
																}
																
																document.getElementById('star-' + /*[[${iterStat.index}]]*/ 0).textContent = reviewStar;
															
															})();
															/*]]>*/
														</script>
													</div>
												</div>
												

												<div th:if="${#lists.isEmpty(review)}">
													<span>まだレビューがありません。</span>
												</div>
												
												<a th:unless="${#lists.isEmpty(review)}" th:href="@{/reviews/__${restaurant.getId()}__}">すべてのレビューを見る</a>													
												</div>
											</div>
										</div>
									</div>								
                                </div>                                                                                             
                            </div>
                        </div>
                    </div>
            </main>
            
            <!-- フッター -->
            <div th:replace="~{fragment :: footer}"></div>
        </div>    
        
        <div th:replace="~{fragment :: scripts}"></div>  
		
		<!-- Flatpickr -->
		<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
		<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ja.js"></script>
		<script th:src="@{/js/flatpickr.js}"></script>
  </body>
</html>